@import 'tailwindcss';
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-spectral: var(--font-spectral-regular);
  --color-brand-100: #b42929;
  --color-brand-200: #036ab7;
  --color-brand-300: #f8bf56;
  --color-brand-400: #ec685b;
  --color-brand-500: #f1a34e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
